{
    margin: 0;
    padding: 0;
    box-sizing: border-box
    font-family: 'baloo 2', cursive;

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: azure;
}
